* {
  box-sizing: border-box;
  font-family: sans-serif, Arial;
  color: white;
}

/* Scrollbar - it's a try */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #434343; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4da43c; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0; 
}
/* Scrollbar ENDE */

/* Basic */
html { 
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: #222222;
  cursor: url(http://cur.cursors-4u.net/cursors/cur-6/cur578.cur), auto;
}

body {
    width: 80%;
    margin: 0 auto;
}

a, ul, li {
    text-decoration: none;
    list-style-type: none;
}

/* HEADER */
header {
    width:100%; 
    padding: 3.45vw;
    background-color: #000000;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    text-shadow:  
     1px  1px 1px black,
     1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;  
  	border-radius: 2vw 2vw 0vw 0vw;
  	border: 2px solid black;
  	box-shadow: 6px 6px 6px grey inset;
  	background: gray url("https://www.pngsee.com/uploadpng/full/10-104804_movie-film-strip-film-png-transparent-png.png") repeat 50% 0;
 	background-size: 44%;
  	-webkit-animation: slide 300s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 200px 0; }
    to { background-position: 2200px 0px; }
}
/*HEADER ENDE */

/* NAVIGATION */
nav {
    display: flex;
    justify-content: flex-start;
    background-color: #434343;
    width: 100%;
    border-radius: 0vw 0vw 2vw 2vw;
    border: 2px solid black;
    margin-bottom: 2vh;
	box-shadow: 6px 0px 6px grey inset;
}

nav ul li:hover {
	color: lightgrey;
	font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    list-style-type: none;
}

nav ul a {
    padding:2px;
    text-decoration: none;
    text-shadow:  
     1px  1px 1px black,
     1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
}

nav ul a li {
    font-size: 1.7vw;
    color: white;
    text-decoration: none;
}
/* NAVIGATION ENDE */

/* CONTAINERS */
main{
	background-color: #171E25;
	color: white;
	border-radius: 2vw 2vw 0vw 0vw;
	padding: 1vh;
	border: 2px solid black;
	box-shadow: 6px 0px 6px grey inset;
	text-decoration: none;
}

.cineTitle{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	font-size: 1.5vw;
	text-shadow:  
     1px  1px 1px black,
     1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
}

#cineMenu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cineBox{
	background-color: black;
	width: 30em;
	margin: 1em;
	padding: 1vh;
	border-radius: 2vw 2vw 2vw 2vw;
	box-shadow: 1px 1px 1px grey inset;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	grid-template-areas: "cineIMG cineHeader" "cineIMG cineDscr" "cineIMG magIchContainer";
}

.cineBox p{
	margin: 0;
}

.cineIMG{
	grid-area: cineIMG;
	width: 70%;
	overflow: hidden;
	border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.cineHeader{
	grid-area: cineHeader;
	padding-left: 2vw;
	font-size: 1.1em;
	font-weight: bold;
}

.cineDscr{
	padding-left: 2vw;
	grid-area: cineDscr;
	font-size: 0.8em;
}

.magIchContainer{
	grid-area: magIchContainer;
	display: flex;
	justify-content: flex-end;
}

.liKes{
	color: #4da43c;
	text-align: center;
	padding-top: 0.6em;
	padding-right: 2vw;
	font-size: 1.5em;
	cursor: url(http://cur.cursors-4u.net/mechanics/mec-5/mec409.ani), url(http://cur.cursors-4u.net/mechanics/mec-5/mec409.png), auto;
}

.neueLikes{	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.7em;
	height: 1.7em;
	background-color: #4da43c;
	color: white;
	border-radius: 50%;
	font-size: 1.5em; 
	box-shadow: 1.5px 1px 1px grey;
	text-shadow:  
     1px  1px 1px black,
     1px -1px 1px grey,
    -1px  1px 1px grey,
    -1px -1px 1px grey;
}

footer {
    text-align: center;
    width: 100%;
    height:15vh;
    background-color: #000000;
    color: #ffffff;  
    border-radius: 0vw 0vw 2vw 2vw;
    border: 2px solid black;
    box-shadow: 6px 0px 6px grey inset;
}

#copyright {
   font-size: 1.0em;
   padding: 6vh;
 }